.rating-button {
  height: 1.25rem;
  width: 1.25rem;
  flex-shrink: 0;
  position: relative;
}

.rating-button.readonly {
  cursor: default;
}

.rating-button:not(.readonly):not(.loading) {
  cursor: pointer;
}

.rating-button:not(.readonly):not(.loading):hover {
  transform: scale(1.1);
  transition-property: transform;
  transition-timing-function: var(--default-transition-timing-function);
  transition-duration: var(--default-transition-duration);
}

.rating-button.loading {
  opacity: 0.5;
}

.rating-icon {
  height: 100%;
  width: 100%;
}

.rating-loading-spinner {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-spinner {
  animation: var(--animate-spin);
  border-radius: 9999px;
  height: 0.75rem;
  width: 0.75rem;
  border: 1px solid currentColor;
  border-top-color: transparent;
}

.star-rating-container {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.star-rating-value {
  margin-left: 0.25rem;
  font-size: var(--text-sm);
  color: var(--color-gray-400);
  text-align: right;
  width: 1.75rem;
}

.star-rating-star.active {
  color: var(--color-yellow-400);
}

.star-rating-star.inactive {
  color: var(--color-gray-500);
}

.like-rating-button.null {
  color: var(--color-gray-500);
}

.like-rating-button.liked {
  color: var(--color-red-500);
}

.like-rating-button.disliked {
  color: var(--color-blue-500);
}

.incdec-rating-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.incdec-rating-button-up {
  margin-bottom: 0.125rem;
}

.incdec-rating-button-up.active {
  color: var(--color-green-500);
}

.incdec-rating-button-up.inactive {
  color: var(--color-gray-500);
}

.incdec-rating-button-down {
  margin-top: 0.125rem;
}

.incdec-rating-button-down.active {
  color: var(--color-red-500);
}

.incdec-rating-button-down.inactive {
  color: var(--color-gray-500);
}

.incdec-rating-value {
  font-size: var(--text-sm);
  font-weight: var(--font-weight-medium);
}

.incdec-rating-value.positive {
  color: var(--color-green-500);
}

.incdec-rating-value.negative {
  color: var(--color-red-500);
}

.incdec-rating-value.neutral {
  color: var(--color-gray-500);
}

.incdec-rating-value.loading {
  opacity: 0.5;
}
